# INDIAI - ARTIFICIAL INTELLIGENCE PROJECT


### Group : `Manav Thontia`     |   `Delfina Ferreri`    |  `Mathis Veschambre`  |   `Shiva TARDIVEL`

# INTRODUCTION

- *Context of the problem*
- *We will be wotking with five sources of data in csv format*

# DATA PREPROCESSING
Setting the environment

In [1]:
import numpy as np
import os
from numpy.random import default_rng
import matplotlib.pyplot as plt
import pandas as pd

## Loading the DataSets

In [2]:
# os.chdir("Change this to the relative/absolute path of the Datasets folder")
os.chdir("./Datasets")

general_data = pd.read_csv('general_data.csv').copy()
employee_survey_data = pd.read_csv('employee_survey_data.csv').copy()
manager_survey_data = pd.read_csv('manager_survey_data.csv').copy()
in_time = pd.read_csv('in_time.csv').copy()
out_time = pd.read_csv('out_time.csv').copy()

os.chdir("..")

The datasets will be processed separately, then once clean thet'll be merged into one.

## Before merging all in one

### General Data

In [3]:
general_data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 24 entries, Age to YearsWithCurrManager
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

What can be observed from general data so far?
- Data from 4410 employees was gathered.
- Most of the attributes -exactly 14- are numerical, accepting either integers or floats as values.
- The other 5 attributes seem to be categorical.

Let's take a look at what the general data looks like:

In [4]:
general_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

#### Dropping unnecesary attributes

Just by looking, we notice that:
- The attribute **Over18** is redundant: the more precise attribute **Age** is also present.
- The attribute **EmployeeCount** makes no sense, as each entry represents only one employee.
- We can divise two attributes that represent sensitive personal information, like **Gender** and **MaritalStatus**. We don't consider these relevant for the current analysis.

Let's now look at the metrics for each numerical attribute.

In [5]:
general_data.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4410.000000,4410.000000,4410.000000,4410.0,4410.000000,4410.000000,4410.000000,4391.000000,4410.000000,4410.0,4410.000000,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000
mean,36.923810,9.192517,2.912925,1.0,2205.500000,2.063946,65029.312925,2.694830,15.209524,8.0,0.793878,11.279936,2.799320,7.008163,2.187755,4.123129
std,9.133301,8.105026,1.023933,0.0,1273.201673,1.106689,47068.888559,2.498887,3.659108,0.0,0.851883,7.782222,1.288978,6.125135,3.221699,3.567327
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1103.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2205.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3307.750000,3.000000,83800.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4410.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

- The attributes **EmployeeCount** and **StandardHours** have a standard deviation of 0.0, meaning that, for them, all entries have the same value -which are 1 and 8.0 respectively-. They are not useful to tell employees apart in any way.

We proceed by dropping the mentioned attributes, reducing the number of columns from 24 to 19.

In [6]:
general_data.drop('Gender', axis=1,inplace=True)
general_data.drop('MaritalStatus', axis=1,inplace=True)
general_data.drop('Over18', axis=1,inplace=True)
general_data.drop('EmployeeCount', axis=1,inplace=True)
general_data.drop('StandardHours', axis=1,inplace=True)
general_data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,JobLevel,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Healthcare Representative,131160,1.0,11,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,2,1,Research Scientist,41890,0.0,23,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,3,4,Sales Executive,193280,1.0,15,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,4,3,Human Resources,83210,3.0,11,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,5,1,Sales Executive,23420,4.0,12,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,4406,1,Research Scientist,60290,3.0,17,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,4407,1,Laboratory Technician,26790,2.0,15,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,4408,2,Sales Executive,37020,0.0,20,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,4409,1,Laboratory Technician,23980,0.0,14,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,4410,2,Laboratory Technician,54680,0.0,12,0,NaN,6,21,3,9

### Survey Data: Employee and Manager

These datasets contain information about the employee's feelings and performance at work, both from it's point of view and from the point of view of its manager. At first sight, all attributes seem like they could be relevant for the current analysis.

In [7]:
employee_survey_data.head()

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

In [8]:
manager_survey_data.head()

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3

Given their similarity, it seems natural to merge these two into one dataset, using **EmployeeID** as the key attribute.

In [9]:
survey_data = pd.merge(employee_survey_data,manager_survey_data,on="EmployeeID",how="outer")
survey_data.head()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,3.0,4.0,2.0,3,3
1,2,3.0,2.0,4.0,2,4
2,3,2.0,2.0,1.0,3,3
3,4,4.0,4.0,3.0,2,3
4,5,4.0,1.0,3.0,3,3

In [10]:
survey_data.describe()

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
count,4410.000000,4385.000000,4390.000000,4372.000000,4410.000000,4410.000000
mean,2205.500000,2.723603,2.728246,2.761436,2.729932,3.153741
std,1273.201673,1.092756,1.101253,0.706245,0.711400,0.360742
min,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,1103.250000,2.000000,2.000000,2.000000,2.000000,3.000000
50%,2205.500000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,3307.750000,4.000000,4.000000,3.000000,3.000000,3.000000
max,4410.000000,4.000000,4.000000,4.000000,4.000000,4.000000

### Schedule Data: In and Out Times

These datasets contain extremely detailed information on the times of entry and exit of each employee during the last 250 week-days.

Extra processing will be needed for these two sets of data, as this information on its own is not useful yet.

What new attributes for each employee could we extract from here?
- **Average of hours worked per day** (without taking into consideration those days when the employee was absent)
- **Number of absences** (days where there is no recorded time for entry and exit of the employee)
- **Schedule inconsistency** (how much the amount of hours worked each day varies, standard deviation for working hours)

But first, small peek at what the data looks like:

In [11]:
in_time.head()

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,...,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,...,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,...,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39
3,4,NaN,2015-01-02 10:05:06,2015-01-05 09:56:32,2015-01-06 10:11:07,2015-01-07 09:37:30,2015-01-08 10:02:08,2015-01-09 10:08:12,2015-01-12 10:13:42,2015-01-13 09:53:22,...,2015-12-18 10:17:38,2015-12-21 09:58:21,2015-12-22 10:04:25,2015-12-23 10:11:46,2015-12-24 09:43:15,NaN,2015-12-28 09:52:44,2015-12-29 09:33:16,2015-12-30 10:18:12,2015-12-31 10:01:15
4,5,NaN,2015-01-02 10:28:17,2015-01-05 09:49:58,2015-01-06 09:45:28,2015-01-07 09:49:37,2015-01-08 10:19:44,2015-01-09 10:00:50,2015-01-12 10:29:27,2015-01-13 09:59:32,...,2015-12-18 09:58:35,2015-12-21 10:03:41,2015-12-22 10:10:30,2015-12-23 10:13:36,2015-12-24 09:44:24,NaN,2015-12-28 10:05:15,2015-12-29 10:30:53,2015-12-30 09:18:21,2015-12-31 09:41:09

In [12]:
out_time.head()

,Unnamed: 0,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 16:56:15,2015-01-05 17:20:11,2015-01-06 17:19:05,2015-01-07 16:34:55,2015-01-08 17:08:32,2015-01-09 17:38:29,2015-01-12 16:58:39,2015-01-13 18:02:58,...,NaN,2015-12-21 17:15:50,2015-12-22 17:27:51,2015-12-23 16:44:44,2015-12-24 17:47:22,NaN,2015-12-28 18:00:07,2015-12-29 17:22:30,2015-12-30 17:40:56,2015-12-31 17:17:33
1,2,NaN,2015-01-02 18:22:17,2015-01-05 17:48:22,NaN,2015-01-07 17:09:06,2015-01-08 17:34:04,2015-01-09 16:52:29,2015-01-12 17:36:48,2015-01-13 18:00:13,...,2015-12-18 18:31:28,2015-12-21 17:34:16,2015-12-22 18:16:35,2015-12-23 17:38:18,NaN,NaN,2015-12-28 17:08:38,2015-12-29 17:54:46,2015-12-30 18:31:35,2015-12-31 17:40:58
2,3,NaN,2015-01-02 16:59:14,2015-01-05 17:06:46,2015-01-06 16:38:32,2015-01-07 16:33:21,2015-01-08 17:24:22,2015-01-09 16:57:30,2015-01-12 17:28:54,2015-01-13 17:21:25,...,2015-12-18 17:02:23,2015-12-21 17:20:17,2015-12-22 16:32:50,2015-12-23 16:59:43,2015-12-24 16:58:25,NaN,2015-12-28 16:43:31,2015-12-29 17:09:56,2015-12-30 17:06:25,2015-12-31 17:15:50
3,4,NaN,2015-01-02 17:25:24,2015-01-05 17:14:03,2015-01-06 17:07:42,2015-01-07 16:32:40,2015-01-08 16:53:11,2015-01-09 17:19:47,2015-01-12 17:13:37,2015-01-13 17:11:45,...,2015-12-18 17:55:23,2015-12-21 16:49:09,2015-12-22 17:24:00,2015-12-23 17:36:35,2015-12-24 16:48:21,NaN,2015-12-28 17:19:34,2015-12-29 16:58:16,2015-12-30 17:40:11,2015-12-31 17:09:14
4,5,NaN,2015-01-02 18:31:37,2015-01-05 17:49:15,2015-01-06 17:26:25,2015-01-07 17:37:59,2015-01-08 17:59:28,2015-01-09 17:44:08,2015-01-12 18:51:21,2015-01-13 18:14:58,...,2015-12-18 17:52:48,2015-12-21 17:43:35,2015-12-22 18:07:57,2015-12-23 18:00:49,2015-12-24 17:59:22,NaN,2015-12-28 17:44:59,2015-12-29 18:47:00,2015-12-30 17:15:33,2015-12-31 17:42:14

#### Dropping unnecesary attributes

- Some days seem to have N/A values for all employees! Among these, the first day of the year and Christmas.

- These non-workable days are not relevant for our analysis, as they don't provide information to tell employees apart.

- We proceed by identifying them and dropping the columns that match our description.

In [13]:
nonsence_entries_in = pd.DataFrame(in_time.loc[:, in_time.isnull().sum() == len(in_time) ])
print(nonsence_entries_in.shape[1]," days with all null values for time of entrance.")
nonsence_entries_in

12  days with all null values for time of entrance.

,2015-01-01,2015-01-14,2015-01-26,2015-03-05,2015-05-01,2015-07-17,2015-09-17,2015-10-02,2015-11-09,2015-11-10,2015-11-11,2015-12-25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
nonsence_entries_out = pd.DataFrame(out_time.loc[:, in_time.isnull().sum() == len(in_time)])
print(nonsence_entries_out.shape[1]," days with all null values for time of exit.")
nonsence_entries_out

12  days with all null values for time of exit.

,2015-01-01,2015-01-14,2015-01-26,2015-03-05,2015-05-01,2015-07-17,2015-09-17,2015-10-02,2015-11-09,2015-11-10,2015-11-11,2015-12-25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It is interesting to verify if the dates of non-workable days are consistent, meaning in time and out time data are well synchronized.

In [15]:
print("The non-workable days in in_data are the same as in out_data?: ",nonsence_entries_in.equals(nonsence_entries_out))

The non-workable days in in_data are the same as in out_data?:  True

In [16]:
in_time = in_time.drop(columns=nonsence_entries_in.columns)
out_time = out_time.drop(columns=nonsence_entries_out.columns)

By retiring the non-workable days, we reduced the columns with missing values by 12. Now let's look at other cases of this phenomena.

#### Treatment of missing values

Before acting on missing values, a function to quickly detect them:

In [17]:
def DisplayMissingValues(data, data_name):
    
    df = pd.DataFrame(data)

    missing_counts = df.isnull().sum()
    missing_columns = missing_counts[missing_counts > 0]
    
    if missing_columns.empty:
        print("[0] No missing values in:",data_name,"\n")
        return
    print(len(missing_columns)," attributes with missing values in: ",data_name)
    print(missing_columns.to_string(),"\n")

In [18]:
DisplayMissingValues(in_time, "in time")

249  attributes with missing values in:  in time
2015-01-02    209
2015-01-05    206
2015-01-06    228
2015-01-07    209
2015-01-08    243
2015-01-09    215
2015-01-12    239
2015-01-13    265
2015-01-15    236
2015-01-16    264
2015-01-19    228
2015-01-20    241
2015-01-21    240
2015-01-22    240
2015-01-23    249
2015-01-27    217
2015-01-28    212
2015-01-29    276
2015-01-30    208
2015-02-02    208
2015-02-03    206
2015-02-04    212
2015-02-05    211
2015-02-06    211
2015-02-09    224
2015-02-10    219
2015-02-11    226
2015-02-12    236
2015-02-13    212
2015-02-16    222
2015-02-17    244
2015-02-18    229
2015-02-19    217
2015-02-20    212
2015-02-23    241
2015-02-24    226
2015-02-25    234
2015-02-26    238
2015-02-27    236
2015-03-02    254
2015-03-03    228
2015-03-04    231
2015-03-06    242
2015-03-09    232
2015-03-10    243
2015-03-11    232
2015-03-12    219
2015-03-13    191
2015-03-16    219
2015-03-17    231
2015-03-18    237
2015-03-19    239
2015-03-20    223
2015-03-23    207
2015-03-24    217
2015-03-25    203
2015-03-26    218
2015-03-27    235
2015-03-30    222
2015-03-31    211
2015-04-01    218
2015-04-02    203
2015-04-03    234
2015-04-06    234
2015-04-07    224
2015-04-08    239
2015-04-09    232
2015-04-10    218
2015-04-13    213
2015-04-14    207
2015-04-15    228
2015-04-16    214
2015-04-17    223
2015-04-20    235
2015-04-21    240
2015-04-22    197
2015-04-23    222
2015-04-24    220
2015-04-27    251
2015-04-28    215
2015-04-29    238
2015-04-30    213
2015-05-04    204
2015-05-05    219
2015-05-06    233
2015-05-07    223
2015-05-08    231
2015-05-11    229
2015-05-12    229
2015-05-13    213
2015-05-14    212
2015-05-15    207
2015-05-18    230
2015-05-19    217
2015-05-20    228
2015-05-21    227
2015-05-22    245
2015-05-25    237
2015-05-26    220
2015-05-27    221
2015-05-28    222
2015-05-29    235
2015-06-01    221
2015-06-02    241
2015-06-03    211
2015-06-04    228
2015-06-05    203
2015-06-08    231
2015-06-09    204
2015-06-10    227
2015-06-11    211
2015-06-12    224
2015-06-15    231
2015-06-16    246
2015-06-17    226
2015-06-18    215
2015-06-19    225
2015-06-22    231
2015-06-23    244
2015-06-24    237
2015-06-25    249
2015-06-26    231
2015-06-29    234
2015-06-30    247
2015-07-01    225
2015-07-02    221
2015-07-03    221
2015-07-06    216
2015-07-07    216
2015-07-08    190
2015-07-09    199
2015-07-10    230
2015-07-13    209
2015-07-14    231
2015-07-15    222
2015-07-16    228
2015-07-20    213
2015-07-21    211
2015-07-22    212
2015-07-23    243
2015-07-24    238
2015-07-27    205
2015-07-28    212
2015-07-29    204
2015-07-30    226
2015-07-31    204
2015-08-03    220
2015-08-04    208
2015-08-05    206
2015-08-06    224
2015-08-07    232
2015-08-10    197
2015-08-11    237
2015-08-12    255
2015-08-13    245
2015-08-14    236
2015-08-17    230
2015-08-18    194
2015-08-19    233
2015-08-20    220
2015-08-21    219
2015-08-24    218
2015-08-25    238
2015-08-26    215
2015-08-27    201
2015-08-28    208
2015-08-31    226
2015-09-01    223
2015-09-02    232
2015-09-03    224
2015-09-04    230
2015-09-07    231
2015-09-08    245
2015-09-09    226
2015-09-10    204
2015-09-11    212
2015-09-14    244
2015-09-15    210
2015-09-16    220
2015-09-18    202
2015-09-21    230
2015-09-22    235
2015-09-23    216
2015-09-24    244
2015-09-25    240
2015-09-28    217
2015-09-29    219
2015-09-30    219
2015-10-01    219
2015-10-05    250
2015-10-06    217
2015-10-07    227
2015-10-08    244
2015-10-09    229
2015-10-12    233
2015-10-13    231
2015-10-14    223
2015-10-15    233
2015-10-16    224
2015-10-19    233
2015-10-20    238
2015-10-21    229
2015-10-22    235
2015-10-23    217
2015-10-26    232
2015-10-27    214
2015-10-28    213
2015-10-29    200
2015-10-30    230
2015-11-02    246
2015-11-03    211
2015-11-04    229
2015-11-05    244
2015-11-06    222
2015-11-12    240
2015-11-13    219
2015-11-16    231
2015-11-17    227
2015-11-18    221
2015-11-19    200
2015-11-20    206
2015-11-23    247
2015-11-24    210
2015-11-25    216
2015-11-26    270
2015-11-27    242
2015-11-30    243
2015-12-01    210
2015-12-02    244
2015-12-03    228
2015-12-04    235
2015-12-07    226
2015-12-08    221
2015-12-09    223
2015-12-10    216
2015-12-11    220
2015-12-14    234
2015-12-15    254
2015-12-16    227
2015-12-17    207
2015-12-18    239
2015-12-21    216
2015-12-22    250
2015-12-23    222
2015-12-24    250
2015-12-28    234
2015-12-29    230
2015-12-30    265
2015-12-31    213

In [19]:

DisplayMissingValues(out_time, "out time")

249  attributes with missing values in:  out time
2015-01-02    209
2015-01-05    206
2015-01-06    228
2015-01-07    209
2015-01-08    243
2015-01-09    215
2015-01-12    239
2015-01-13    265
2015-01-15    236
2015-01-16    264
2015-01-19    228
2015-01-20    241
2015-01-21    240
2015-01-22    240
2015-01-23    249
2015-01-27    217
2015-01-28    212
2015-01-29    276
2015-01-30    208
2015-02-02    208
2015-02-03    206
2015-02-04    212
2015-02-05    211
2015-02-06    211
2015-02-09    224
2015-02-10    219
2015-02-11    226
2015-02-12    236
2015-02-13    212
2015-02-16    222
2015-02-17    244
2015-02-18    229
2015-02-19    217
2015-02-20    212
2015-02-23    241
2015-02-24    226
2015-02-25    234
2015-02-26    238
2015-02-27    236
2015-03-02    254
2015-03-03    228
2015-03-04    231
2015-03-06    242
2015-03-09    232
2015-03-10    243
2015-03-11    232
2015-03-12    219
2015-03-13    191
2015-03-16    219
2015-03-17    231
2015-03-18    237
2015-03-19    239
2015-03-20    223
2015-03-23    207
2015-03-24    217
2015-03-25    203
2015-03-26    218
2015-03-27    235
2015-03-30    222
2015-03-31    211
2015-04-01    218
2015-04-02    203
2015-04-03    234
2015-04-06    234
2015-04-07    224
2015-04-08    239
2015-04-09    232
2015-04-10    218
2015-04-13    213
2015-04-14    207
2015-04-15    228
2015-04-16    214
2015-04-17    223
2015-04-20    235
2015-04-21    240
2015-04-22    197
2015-04-23    222
2015-04-24    220
2015-04-27    251
2015-04-28    215
2015-04-29    238
2015-04-30    213
2015-05-04    204
2015-05-05    219
2015-05-06    233
2015-05-07    223
2015-05-08    231
2015-05-11    229
2015-05-12    229
2015-05-13    213
2015-05-14    212
2015-05-15    207
2015-05-18    230
2015-05-19    217
2015-05-20    228
2015-05-21    227
2015-05-22    245
2015-05-25    237
2015-05-26    220
2015-05-27    221
2015-05-28    222
2015-05-29    235
2015-06-01    221
2015-06-02    241
2015-06-03    211
2015-06-04    228
2015-06-05    203
2015-06-08    231
2015-06-09    204
2015-06-10    227
2015-06-11    211
2015-06-12    224
2015-06-15    231
2015-06-16    246
2015-06-17    226
2015-06-18    215
2015-06-19    225
2015-06-22    231
2015-06-23    244
2015-06-24    237
2015-06-25    249
2015-06-26    231
2015-06-29    234
2015-06-30    247
2015-07-01    225
2015-07-02    221
2015-07-03    221
2015-07-06    216
2015-07-07    216
2015-07-08    190
2015-07-09    199
2015-07-10    230
2015-07-13    209
2015-07-14    231
2015-07-15    222
2015-07-16    228
2015-07-20    213
2015-07-21    211
2015-07-22    212
2015-07-23    243
2015-07-24    238
2015-07-27    205
2015-07-28    212
2015-07-29    204
2015-07-30    226
2015-07-31    204
2015-08-03    220
2015-08-04    208
2015-08-05    206
2015-08-06    224
2015-08-07    232
2015-08-10    197
2015-08-11    237
2015-08-12    255
2015-08-13    245
2015-08-14    236
2015-08-17    230
2015-08-18    194
2015-08-19    233
2015-08-20    220
2015-08-21    219
2015-08-24    218
2015-08-25    238
2015-08-26    215
2015-08-27    201
2015-08-28    208
2015-08-31    226
2015-09-01    223
2015-09-02    232
2015-09-03    224
2015-09-04    230
2015-09-07    231
2015-09-08    245
2015-09-09    226
2015-09-10    204
2015-09-11    212
2015-09-14    244
2015-09-15    210
2015-09-16    220
2015-09-18    202
2015-09-21    230
2015-09-22    235
2015-09-23    216
2015-09-24    244
2015-09-25    240
2015-09-28    217
2015-09-29    219
2015-09-30    219
2015-10-01    219
2015-10-05    250
2015-10-06    217
2015-10-07    227
2015-10-08    244
2015-10-09    229
2015-10-12    233
2015-10-13    231
2015-10-14    223
2015-10-15    233
2015-10-16    224
2015-10-19    233
2015-10-20    238
2015-10-21    229
2015-10-22    235
2015-10-23    217
2015-10-26    232
2015-10-27    214
2015-10-28    213
2015-10-29    200
2015-10-30    230
2015-11-02    246
2015-11-03    211
2015-11-04    229
2015-11-05    244
2015-11-06    222
2015-11-12    240
2015-11-13    219
2015-11-16    231
2015-11-17    227
2015-11-18    221
2015-11-19    200
2015-11-20    206
2015-11-23    247
2015-11-24    210
2015-11-25    216
2015-11-26    270
2015-11-27    242
2015-11-30    243
2015-12-01    210
2015-12-02    244
2015-12-03    228
2015-12-04    235
2015-12-07    226
2015-12-08    221
2015-12-09    223
2015-12-10    216
2015-12-11    220
2015-12-14    234
2015-12-15    254
2015-12-16    227
2015-12-17    207
2015-12-18    239
2015-12-21    216
2015-12-22    250
2015-12-23    222
2015-12-24    250
2015-12-28    234
2015-12-29    230
2015-12-30    265
2015-12-31    213

Too many missing values!
A treatment protocol must be chosen.

First, let's verify there are no _inconsistencies_ in the missing values. 

What do we mean by inconsistencies? Days where, for certain employee, either entry time or exit time is missing, but not both at the same time.
An occurrence of this kind would be a problem, as it would clearly not make sense for an employee to get in and then never get out, or viceversa.

In [20]:
null_inconsistency_df = in_time.isnull() ^ out_time.isnull()    # XOR operation for each cell
print("The number of null inconsistencies is: ",(null_inconsistency_df == True).sum().sum())    # Counting inconsistencies

The number of null inconsistencies is:  0

No inconsistencies. This means in time and out time data are well synchronized.

Then for the days both entry and exit time are missing -which, as we have just observed, happens at least once for each recorded day- the decision to take it as an absent day, with zero hours of work, was taken. 

It's unknown to us the reason why the employee didn't attend work that day, so a neutral enough name was picked for this new attribute: **TotalAbsences**.

In [21]:
def minutes_since_zero(input_time):
    return input_time.hour * 60 + input_time.minute

In [22]:
# convert to datetime format
first_column = in_time['Unnamed: 0']
in_time = in_time.apply(pd.to_datetime)
in_time = in_time.applymap(minutes_since_zero) 

# avoid 
in_time.insert(0,"EmployeeID",first_column)
in_time.pop('Unnamed: 0')

in_time
#in_time = in_time.applymap(minutes_since_zero)
#in_time = first_column + in_time[1:]
#in_time

# Extract only the time component (HH:MM:SS)
#in_time['time_only'] = in_time['datetime_column'].dt.time

/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/603644347.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  in_time = in_time.applymap(minutes_since_zero)

,EmployeeID,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,...,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,583.0,608.0,594.0,574.0,591.0,609.0,582.0,613.0,601.0,...,NaN,NaN,595.0,604.0,614.0,611.0,613.0,603.0,594.0,612.0
1,2,615.0,621.0,NaN,585.0,609.0,583.0,600.0,643.0,577.0,...,555.0,637.0,589.0,633.0,612.0,NaN,571.0,595.0,632.0,567.0
2,3,617.0,590.0,614.0,587.0,603.0,605.0,603.0,621.0,595.0,...,593.0,615.0,610.0,584.0,615.0,607.0,582.0,583.0,574.0,628.0
3,4,605.0,596.0,611.0,577.0,602.0,608.0,613.0,593.0,600.0,...,594.0,617.0,598.0,604.0,611.0,583.0,592.0,573.0,618.0,601.0
4,5,628.0,589.0,585.0,589.0,619.0,600.0,629.0,599.0,606.0,...,586.0,598.0,603.0,610.0,613.0,584.0,605.0,630.0,558.0,581.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,560.0,617.0,626.0,606.0,585.0,589.0,577.0,565.0,569.0,...,605.0,601.0,625.0,616.0,604.0,585.0,615.0,610.0,568.0,600.0
4406,4407,603.0,NaN,584.0,582.0,600.0,584.0,607.0,605.0,618.0,...,585.0,567.0,581.0,590.0,632.0,587.0,594.0,613.0,621.0,609.0
4407,4408,601.0,573.0,589.0,628.0,587.0,601.0,589.0,587.0,608.0,...,601.0,600.0,591.0,602.0,598.0,596.0,599.0,NaN,602.0,603.0
4408,4409,617.0,602.0,612.0,612.0,582.0,NaN,600.0,588.0,544.0,...,591.0,594.0,601.0,610.0,582.0,596.0,595.0,594.0,615.0,596.0
4409,4410,599.0,616.0,592.0,583.0,606.0,627.0,587.0,570.0,608.0,...,598.0,620.0,626.0,NaN,593.0,582.0,581.0,605.0,632.0,609.0

In [23]:
first_column = out_time['Unnamed: 0']
out_time = out_time.apply(pd.to_datetime)
out_time = out_time.applymap(minutes_since_zero) 
# avoid 
out_time.insert(0,"EmployeeID",first_column)
out_time.pop('Unnamed: 0')

out_time

/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/62796082.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  out_time = out_time.applymap(minutes_since_zero)

,EmployeeID,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,...,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,1016.0,1040.0,1039.0,994.0,1028.0,1058.0,1018.0,1082.0,1042.0,...,NaN,NaN,1035.0,1047.0,1004.0,1067.0,1080.0,1042.0,1060.0,1037.0
1,2,1102.0,1068.0,NaN,1029.0,1054.0,1012.0,1056.0,1080.0,1034.0,...,1030.0,1111.0,1054.0,1096.0,1058.0,NaN,1028.0,1074.0,1111.0,1060.0
2,3,1019.0,1026.0,998.0,993.0,1044.0,1017.0,1048.0,1041.0,1041.0,...,1026.0,1022.0,1040.0,992.0,1019.0,1018.0,1003.0,1029.0,1026.0,1035.0
3,4,1045.0,1034.0,1027.0,992.0,1013.0,1039.0,1033.0,1031.0,1013.0,...,1041.0,1075.0,1009.0,1044.0,1056.0,1008.0,1039.0,1018.0,1060.0,1029.0
4,5,1111.0,1069.0,1046.0,1057.0,1079.0,1064.0,1131.0,1094.0,1101.0,...,1085.0,1072.0,1063.0,1087.0,1080.0,1079.0,1064.0,1127.0,1035.0,1062.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,1047.0,1148.0,1130.0,1137.0,1078.0,1086.0,1078.0,1090.0,1070.0,...,1115.0,1086.0,1115.0,1113.0,1120.0,1101.0,1124.0,1154.0,1104.0,1110.0
4406,4407,979.0,NaN,907.0,925.0,972.0,926.0,970.0,982.0,979.0,...,944.0,923.0,931.0,945.0,998.0,947.0,934.0,1007.0,963.0,978.0
4407,4408,1037.0,1028.0,1047.0,1107.0,1025.0,1022.0,1055.0,1035.0,1095.0,...,1062.0,1068.0,1063.0,1067.0,1063.0,1040.0,1063.0,NaN,1068.0,1088.0
4408,4409,1188.0,1177.0,1200.0,1175.0,1135.0,NaN,1158.0,1164.0,1113.0,...,1146.0,1192.0,1161.0,1172.0,1137.0,1177.0,1198.0,1135.0,1177.0,1173.0
4409,4410,1009.0,1053.0,996.0,993.0,1052.0,1045.0,999.0,1019.0,1033.0,...,1025.0,1043.0,1046.0,NaN,996.0,960.0,1034.0,1036.0,1049.0,999.0

In [24]:
def nan_to_zero(value):
    if pd.isna(value):
        value = 0
    return value

In [25]:
in_time = in_time.applymap(nan_to_zero)
in_time

out_time = out_time.applymap(nan_to_zero)
out_time

/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/51485806.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  in_time = in_time.applymap(nan_to_zero)
/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/51485806.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  out_time = out_time.applymap(nan_to_zero)

,EmployeeID,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,...,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,1016.0,1040.0,1039.0,994.0,1028.0,1058.0,1018.0,1082.0,1042.0,...,0.0,0.0,1035.0,1047.0,1004.0,1067.0,1080.0,1042.0,1060.0,1037.0
1,2,1102.0,1068.0,0.0,1029.0,1054.0,1012.0,1056.0,1080.0,1034.0,...,1030.0,1111.0,1054.0,1096.0,1058.0,0.0,1028.0,1074.0,1111.0,1060.0
2,3,1019.0,1026.0,998.0,993.0,1044.0,1017.0,1048.0,1041.0,1041.0,...,1026.0,1022.0,1040.0,992.0,1019.0,1018.0,1003.0,1029.0,1026.0,1035.0
3,4,1045.0,1034.0,1027.0,992.0,1013.0,1039.0,1033.0,1031.0,1013.0,...,1041.0,1075.0,1009.0,1044.0,1056.0,1008.0,1039.0,1018.0,1060.0,1029.0
4,5,1111.0,1069.0,1046.0,1057.0,1079.0,1064.0,1131.0,1094.0,1101.0,...,1085.0,1072.0,1063.0,1087.0,1080.0,1079.0,1064.0,1127.0,1035.0,1062.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,4406,1047.0,1148.0,1130.0,1137.0,1078.0,1086.0,1078.0,1090.0,1070.0,...,1115.0,1086.0,1115.0,1113.0,1120.0,1101.0,1124.0,1154.0,1104.0,1110.0
4406,4407,979.0,0.0,907.0,925.0,972.0,926.0,970.0,982.0,979.0,...,944.0,923.0,931.0,945.0,998.0,947.0,934.0,1007.0,963.0,978.0
4407,4408,1037.0,1028.0,1047.0,1107.0,1025.0,1022.0,1055.0,1035.0,1095.0,...,1062.0,1068.0,1063.0,1067.0,1063.0,1040.0,1063.0,0.0,1068.0,1088.0
4408,4409,1188.0,1177.0,1200.0,1175.0,1135.0,0.0,1158.0,1164.0,1113.0,...,1146.0,1192.0,1161.0,1172.0,1137.0,1177.0,1198.0,1135.0,1177.0,1173.0
4409,4410,1009.0,1053.0,996.0,993.0,1052.0,1045.0,999.0,1019.0,1033.0,...,1025.0,1043.0,1046.0,0.0,996.0,960.0,1034.0,1036.0,1049.0,999.0

In [26]:

##

time_data = pd.DataFrame(index=in_time.index, columns=['EmployeeID','avg_worked_hours','schedule_inconsistency','absences'])

# Function to calculate mean time in hours
def calculate_working_hours(e_id,row_in,row_out):

    working_hours_for_employee = []
    absence_counter = 0
    for index in range(1,len(in_time.columns)):    # Skipping EmployeeID column
        check_in = row_in[index] / 60
        check_out = row_out[index] / 60
        hours_worked = (check_out - check_in)
        if (hours_worked == 0):
            absence_counter+=1
        else:
            working_hours_for_employee.append(hours_worked)
    mean_time = np.mean(working_hours_for_employee)
    std = np.std(working_hours_for_employee)
    return e_id, mean_time, std, absence_counter



# add new attributes
for i in range(0,len(in_time)):
    row_in = in_time.iloc[i]
    row_out = out_time.iloc[i]

    # Call the function and unpack the results
    e_id, mean_time, schedule_inconsistency, absence_counter = calculate_working_hours(i, row_in, row_out)
    print(e_id)
    # Assign the results to the new DataFrame 'time_data'
    pos = len(time_data)-1
    time_data.at[pos, 'EmployeeID'] = e_id
    time_data.at[pos, 'avg_worked_hours'] = mean_time
    time_data.at[pos, 'schedule_inconsistency'] = schedule_inconsistency
    time_data.at[pos, 'absences'] = absence_counter

/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/2266627212.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  check_in = row_in[index] / 60
/var/folders/vw/cl6_2pns2m5f8sp50m3z244m0000gn/T/ipykernel_70737/2266627212.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  check_out = row_out[index] / 60

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826
2827
2828
2829
2830
2831
2832
2833
2834
2835
2836
2837
2838
2839
2840
2841
2842
2843
2844
2845
2846
2847
2848
2849
2850
2851
2852
2853
2854
2855
2856
2857
2858
2859
2860
2861
2862
2863
2864
2865
2866
2867
2868
2869
2870
2871
2872
2873
2874
2875
2876
2877
2878
2879
2880
2881
2882
2883
2884
2885
2886
2887
2888
2889
2890
2891
2892
2893
2894
2895
2896
2897
2898
2899
2900
2901
2902
2903
2904
2905
2906
2907
2908
2909
2910
2911
2912
2913
2914
2915
2916
2917
2918
2919
2920
2921
2922
2923
2924
2925
2926
2927
2928
2929
2930
2931
2932
2933
2934
2935
2936
2937
2938
2939
2940
2941
2942
2943
2944
2945
2946
2947
2948
2949
2950
2951
2952
2953
2954
2955
2956
2957
2958
2959
2960
2961
2962
2963
2964
2965
2966
2967
2968
2969
2970
2971
2972
2973
2974
2975
2976
2977
2978
2979
2980
2981
2982
2983
2984
2985
2986
2987
2988
2989
2990
2991
2992
2993
2994
2995
2996
2997
2998
2999
3000
3001
3002
3003
3004
3005
3006
3007
3008
3009
3010
3011
3012
3013
3014
3015
3016
3017
3018
3019
3020
3021
3022
3023
3024
3025
3026
3027
3028
3029
3030
3031
3032
3033
3034
3035
3036
3037
3038
3039
3040
3041
3042
3043
3044
3045
3046
3047
3048
3049
3050
3051
3052
3053
3054
3055
3056
3057
3058
3059
3060
3061
3062
3063
3064
3065
3066
3067
3068
3069
3070
3071
3072
3073
3074
3075
3076
3077
3078
3079
3080
3081
3082
3083
3084
3085
3086
3087
3088
3089
3090
3091
3092
3093
3094
3095
3096
3097
3098
3099
3100
3101
3102
3103
3104
3105
3106
3107
3108
3109
3110
3111
3112
3113
3114
3115
3116
3117
3118
3119
3120
3121
3122
3123
3124
3125
3126
3127
3128
3129
3130
3131
3132
3133
3134
3135
3136
3137
3138
3139
3140
3141
3142
3143
3144
3145
3146
3147
3148
3149
3150
3151
3152
3153
3154
3155
3156
3157
3158
3159
3160
3161
3162
3163
3164
3165
3166
3167
3168
3169
3170
3171
3172
3173
3174
3175
3176
3177
3178
3179
3180
3181
3182
3183
3184
3185
3186
3187
3188
3189
3190
3191
3192
3193
3194
3195
3196
3197
3198
3199
3200
3201
3202
3203
3204
3205
3206
3207
3208
3209
3210
3211
3212
3213
3214
3215
3216
3217
3218
3219
3220
3221
3222
3223
3224
3225
3226
3227
3228
3229
3230
3231
3232
3233
3234
3235
3236
3237
3238
3239
3240
3241
3242
3243
3244
3245
3246
3247
3248
3249
3250
3251
3252
3253
3254
3255
3256
3257
3258
3259
3260
3261
3262
3263
3264
3265
3266
3267
3268
3269
3270
3271
3272
3273
3274
3275
3276
3277
3278
3279
3280
3281
3282
3283
3284
3285
3286
3287
3288
3289
3290
3291
3292
3293
3294
3295
3296
3297
3298
3299
3300
3301
3302
3303
3304
3305
3306
3307
3308
3309
3310
3311
3312
3313
3314
3315
3316
3317
3318
3319
3320
3321
3322
3323
3324
3325
3326
3327
3328
3329
3330
3331
3332
3333
3334
3335
3336
3337
3338
3339
3340
3341
3342
3343
3344
3345
3346
3347
3348
3349
3350
3351
3352
3353
3354
3355
3356
3357
3358
3359
3360
3361
3362
3363
3364
3365
3366
3367
3368
3369
3370
3371
3372
3373
3374
3375
3376
3377
3378
3379
3380
3381
3382
3383
3384
3385
3386
3387
3388
3389
3390
3391
3392
3393
3394
3395
3396
3397
3398
3399
3400
3401
3402
3403
3404
3405
3406
3407
3408
3409
3410
3411
3412
3413
3414
3415
3416
3417
3418
3419
3420
3421
3422
3423
3424
3425
3426
3427
3428
3429
3430
3431
3432
3433
3434
3435
3436
3437
3438
3439
3440
3441
3442
3443
3444
3445
3446
3447
3448
3449
3450
3451
3452
3453
3454
3455
3456
3457
3458
3459
3460
3461
3462
3463
3464
3465
3466
3467
3468
3469
3470
3471
3472
3473
3474
3475
3476
3477
3478
3479
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3493
3494
3495
3496
3497
3498
3499
3500
3501
3502
3503
3504
3505
3506
3507
3508
3509
3510
3511
3512
3513
3514
3515
3516
3517
3518
3519
3520
3521
3522
3523
3524
3525
3526
3527
3528
3529
3530
3531
3532
3533
3534
3535
3536
3537
3538
3539
3540
3541
3542
3543
3544
3545
3546
3547
3548
3549
3550
3551
3552
3553
3554
3555
3556
3557
3558
3559
3560
3561
3562
3563
3564
3565
3566
3567
3568
3569
3570
3571
3572
3573
3574
3575
3576
3577
3578
3579
3580
3581
3582
3583
3584
3585
3586
3587
3588
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3600
3601
3602
3603
3604
3605
3606
3607
3608
3609
3610
3611
3612
3613
3614
3615
3616
3617
3618
3619
3620
3621
3622
3623
3624
3625
3626
3627
3628
3629
3630
3631
3632
3633
3634
3635
3636
3637
3638
3639
3640
3641
3642
3643
3644
3645
3646
3647
3648
3649
3650
3651
3652
3653
3654
3655
3656
3657
3658
3659
3660
3661
3662
3663
3664
3665
3666
3667
3668
3669
3670
3671
3672
3673
3674
3675
3676
3677
3678
3679
3680
3681
3682
3683
3684
3685
3686
3687
3688
3689
3690
3691
3692
3693
3694
3695
3696
3697
3698
3699
3700
3701
3702
3703
3704
3705
3706
3707
3708
3709
3710
3711
3712
3713
3714
3715
3716
3717
3718
3719
3720
3721
3722
3723
3724
3725
3726
3727
3728
3729
3730
3731
3732
3733
3734
3735
3736
3737
3738
3739
3740
3741
3742
3743
3744
3745
3746
3747
3748
3749
3750
3751
3752
3753
3754
3755
3756
3757
3758
3759
3760
3761
3762
3763
3764
3765
3766
3767
3768
3769
3770
3771
3772
3773
3774
3775
3776
3777
3778
3779
3780
3781
3782
3783
3784
3785
3786
3787
3788
3789
3790
3791
3792
3793
3794
3795
3796
3797
3798
3799
3800
3801
3802
3803
3804
3805
3806
3807
3808
3809
3810
3811
3812
3813
3814
3815
3816
3817
3818
3819
3820
3821
3822
3823
3824
3825
3826
3827
3828
3829
3830
3831
3832
3833
3834
3835
3836
3837
3838
3839
3840
3841
3842
3843
3844
3845
3846
3847
3848
3849
3850
3851
3852
3853
3854
3855
3856
3857
3858
3859
3860
3861
3862
3863
3864
3865
3866
3867
3868
3869
3870
3871
3872
3873
3874
3875
3876
3877
3878
3879
3880
3881
3882
3883
3884
3885
3886
3887
3888
3889
3890
3891
3892
3893
3894
3895
3896
3897
3898
3899
3900
3901
3902
3903
3904
3905
3906
3907
3908
3909
3910
3911
3912
3913
3914
3915
3916
3917
3918
3919
3920
3921
3922
3923
3924
3925
3926
3927
3928
3929
3930
3931
3932
3933
3934
3935
3936
3937
3938
3939
3940
3941
3942
3943
3944
3945
3946
3947
3948
3949
3950
3951
3952
3953
3954
3955
3956
3957
3958
3959
3960
3961
3962
3963
3964
3965
3966
3967
3968
3969
3970
3971
3972
3973
3974
3975
3976
3977
3978
3979
3980
3981
3982
3983
3984
3985
3986
3987
3988
3989
3990
3991
3992
3993
3994
3995
3996
3997
3998
3999
4000
4001
4002
4003
4004
4005
4006
4007
4008
4009
4010
4011
4012
4013
4014
4015
4016
4017
4018
4019
4020
4021
4022
4023
4024
4025
4026
4027
4028
4029
4030
4031
4032
4033
4034
4035
4036
4037
4038
4039
4040
4041
4042
4043
4044
4045
4046
4047
4048
4049
4050
4051
4052
4053
4054
4055
4056
4057
4058
4059
4060
4061
4062
4063
4064
4065
4066
4067
4068
4069
4070
4071
4072
4073
4074
4075
4076
4077
4078
4079
4080
4081
4082
4083
4084
4085
4086
4087
4088
4089
4090
4091
4092
4093
4094
4095
4096
4097
4098
4099
4100
4101
4102
4103
4104
4105
4106
4107
4108
4109
4110
4111
4112
4113
4114
4115
4116
4117
4118
4119
4120
4121
4122
4123
4124
4125
4126
4127
4128
4129
4130
4131
4132
4133
4134
4135
4136
4137
4138
4139
4140
4141
4142
4143
4144
4145
4146
4147
4148
4149
4150
4151
4152
4153
4154
4155
4156
4157
4158
4159
4160
4161
4162
4163
4164
4165
4166
4167
4168
4169
4170
4171
4172
4173
4174
4175
4176
4177
4178
4179
4180
4181
4182
4183
4184
4185
4186
4187
4188
4189
4190
4191
4192
4193
4194
4195
4196
4197
4198
4199
4200
4201
4202
4203
4204
4205
4206
4207
4208
4209
4210
4211
4212
4213
4214
4215
4216
4217
4218
4219
4220
4221

In [27]:
time_data.head()

  EmployeeID avg_worked_hours schedule_inconsistency absences
0        NaN              NaN                    NaN      NaN
1        NaN              NaN                    NaN      NaN
2        NaN              NaN                    NaN      NaN
3        NaN              NaN                    NaN      NaN
4        NaN              NaN                    NaN      NaN

Now the two will be combined into one dataset containing the previously mentionned attributes, and using **EmployeeID** as the key.

In [28]:
# SHIVA'S CODE

# incorporate new metric: standard deviation

time_data = pd.DataFrame(columns=["EmployeeID"])

## Merging all into one dataset

It is time to combine all the data into one unique dataset, which we will call **merged_data**.

After that, we will assemble the full pipeline to properly finish the preprocessing of the data from this point on.

In [29]:
merge_key = "EmployeeID"
merged_data = pd.merge(general_data, survey_data, on=merge_key, how="outer")
merged_data = pd.merge(merged_data, time_data, on=merge_key, how="outer")       # time data is missing

# we rearrange the order of the columns for an easier read
columns_order = ["EmployeeID"] + ["Attrition"] + [col for col in merged_data.columns if (col != "EmployeeID" and col != "Attrition")] 
merged_df = merged_data[columns_order]
merged_df.to_csv("merged_data.csv", index=True)
merged_df.head(7)

,EmployeeID,Attrition,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,No,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Healthcare Representative,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,2,Yes,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Research Scientist,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,3,No,32,Travel_Frequently,Research & Development,17,4,Other,4,Sales Executive,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,4,No,38,Non-Travel,Research & Development,2,5,Life Sciences,3,Human Resources,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,5,No,32,Travel_Rarely,Research & Development,10,1,Medical,1,Sales Executive,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3
5,6,No,46,Travel_Rarely,Research & Development,8,3,Life Sciences,4,Research Director,...,28.0,5,7,7,7,3.0,2.0,2.0,3,3
6,7,Yes,28,Travel_Rarely,Research & Development,11,2,Medical,2,Sales Executive,...,5.0,2,0,0,0,1.0,3.0,1.0,3,4

## Assembling the full pipeline

In [30]:
merged_data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 24 entries, Age to PerformanceRating
dtypes: float64(5), int64(14), object(5)
memory usage: 827.0+ KB

We should prepare the pipeline for:
- Treating missing values,
- Treating categorical values (appropriate encoding),
- Treating outliers,
- Standarizing if necessary.

### Treatment of missing values

In [31]:

DisplayMissingValues(merged_df,"merged data")

5  attributes with missing values in:  merged data
NumCompaniesWorked         19
TotalWorkingYears           9
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38

In [32]:
# SHIVA'S CODE
# MANAV'S CODE

### Treating categorical values

In [33]:
# SHIVA'S CODE (ENCODING)

2 attributes with missing values

In [34]:
def GetTime(datetime):
    if pd.notnull(datetime):
        return datetime[11:16]
    return None

def TimeToMinutes(time):
    if pd.notnull(time):
        return int(time[0:2])*60 + int(time[4:6])
    return 0

In [35]:
working_hours = pd.DataFrame(columns=["EmployeeID","AvgWorkingHours","RecentInasistances"])
for id in range (1,total_employees):
    # para calcular el promedio: procuro que todo este ordenado por id del mas bajo al mas alto
    # voy contando las inasistencias
    in_time[1:][id].sum()
    out_time[1:][id]
    avg_working_hours = round(round((TimeToMinutes(out_t)-TimeToMinutes(in_t))/60,2).sum()/emp["WORKED_HOURS"].ne(0).sum(),2)
    total_inasistances = emp["WORKED_HOURS"].eq(0).sum()
    working_hours.loc[len(working_hours)] = (id,avg_working_hours,total_inasistances)

NameError: name 'total_employees' is not defined

In [ ]:
# don't run this again. It took me ONE HOUR.
def EmployeesWorkingHoursInfo_DF(in_time,out_time,ID):
    
    wh_info = pd.DataFrame(columns=['DATE','IN_TIME','OUT_TIME','WORKED_HOURS'])

    employee_in_time_data = in_time[in_time['Unnamed: 0']==ID]      # all entry times for given employee
    employee_out_time_data = out_time[out_time['Unnamed: 0']==ID]   # all exit times for given employee

    for i in range (1,len(employee_in_time_data.columns)):  # 250 iterations: all days employee worked
        in_t    = GetTime(employee_in_time_data[employee_in_time_data.columns[i]][ID-1])
        out_t   = GetTime(employee_out_time_data[employee_out_time_data.columns[i]][ID-1])
        wh_info.loc[len(wh_info)] = (employee_in_time_data.columns[i],in_t,out_t,round((TimeToMinutes(out_t)-TimeToMinutes(in_t))/60,2))

    return wh_info

info_emp_3 = EmployeesWorkingHoursInfo_DF(in_time,out_time,4400)
print("TOTAL WORKABLE DAYS:               ",max(info_emp_3.count()))
print("AVERAGE WORKING HOURS PER WORK DAY:",round(info_emp_3["WORKED_HOURS"].sum()/info_emp_3["WORKED_HOURS"].ne(0).sum(),2))
print("AMOUNT OF RECENT INASSISTANCES:    ",info_emp_3["WORKED_HOURS"].eq(0).sum())

# posibles nuevos atributos: avg worked hours, missed days, standard deviation as in punctuality at entry or outing?
working_hours = pd.DataFrame(columns=["EmployeeID","AvgWorkingHours","RecentInasistances"])
for id in range (1,total_employees):
    emp = EmployeesWorkingHoursInfo_DF(in_time,out_time,id)
    avg_working_hours = round(emp["WORKED_HOURS"].sum()/emp["WORKED_HOURS"].ne(0).sum(),2)
    total_inasistances = emp["WORKED_HOURS"].eq(0).sum()
    working_hours.loc[len(working_hours)] = (id,avg_working_hours,total_inasistances)

In [ ]:

# Placeholder for your datasets (replace with your actual loading code if different)
in_time = pd.read_csv('in_time.csv'); out_time = pd.read_csv('out_time.csv')
# For this example, I assume in_time and out_time are already loaded DataFrames

# Step 1: Function to parse time strings into minutes
def parse_time(s):
    if pd.isna(s) or s == '' or not isinstance(s, str):
        return np.nan
    try:
        h, m = s.split(':')
        return int(h) * 60 + int(m)
    except:
        return np.nan

# Step 2: Identify day columns (exclude the EmployeeID column)
day_columns = in_time.columns[1:]  # Assuming first column is 'Unnamed: 0' or similar

# Step 3: Convert all time entries to minutes
in_time_minutes = in_time[day_columns].applymap(parse_time)
out_time_minutes = out_time[day_columns].applymap(parse_time)

# Step 4: Calculate worked hours per day (in hours)
worked_hours = (out_time_minutes - in_time_minutes) / 60

# Step 5: Compute total worked hours per employee
total_worked_hours = worked_hours.sum(axis=1, skipna=True)

# Step 6: Count days where the employee actually worked (hours > 0 and not NaN)
worked_days = ((worked_hours > 0) & worked_hours.notna()).sum(axis=1)

# Step 7: Calculate average working hours per worked day
# If no days worked, set to 0 to avoid division by zero
avg_working_hours = np.where(worked_days > 0, total_worked_hours / worked_days, 0)

# Step 8: Calculate inassistances (days with no work or missing data)
inassistances = (worked_hours == 0) | worked_hours.isna()
total_inassistances = inassistances.sum(axis=1)

# Step 9: Create the result DataFrame
working_hours = pd.DataFrame({
    "EmployeeID": in_time['Unnamed: 0'],
    "AvgWorkingHours": np.round(avg_working_hours, 2),
    "RecentInasistances": total_inassistances
})

# Step 10: Display general statistics
total_workable_days = len(day_columns)  # Total days in the dataset
print("TOTAL WORKABLE DAYS:               ", total_workable_days)
print("AVERAGE WORKING HOURS PER WORK DAY:", round(working_hours['AvgWorkingHours'].mean(), 2))
print("AMOUNT OF RECENT INASSISTANCES:    ", working_hours['RecentInasistances'].sum())

# Step 11: Display results for all employees
print("\nWorking hours for all employees:")
print(working_hours.head(6))  # Show first 6 employees to match your output

No missing values

In [ ]:
emp = EmployeesWorkingHoursInfo_DF(in_time,out_time,4410)
avg_working_hours = round(emp["WORKED_HOURS"].sum()/emp["WORKED_HOURS"].ne(0).sum(),2)
total_inasistances = emp["WORKED_HOURS"].eq(0).sum()
working_hours.loc[len(working_hours)] = (4410,avg_working_hours,total_inasistances)

In [ ]:
copy_working_hours = working_hours.copy()
copy_working_hours["EmployeeID"] = copy_working_hours["EmployeeID"].astype(int)
copy_working_hours["RecentInasistances"] = copy_working_hours["RecentInasistances"].astype(int)
copy_working_hours

Merge all datasets into one